body{
    animation-name: backgroundAnim;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

.shortcutsContainer{
    
}
@keyframes backgroundAnim {
    0%{
        background-color: #ff3c3c;
    }
    50%{
        background-color: #ff6161;
    }
    100%{
        background-color: #ff3c3c;
    }
}